.px-5 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 15em;
}

p-dropdown {
    border-radius: 30px;
}