.px-5 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 15em;
}

p-dropdown {
    border-radius: 30px;
}

.custombar{
    width: 300px;
}

span {
    font-family: 'Exo 2', sans-serif;
}

.selectedButton{
    background-color: #073c551a !important;
    border: 1px solid #0056b314;
}
