<div style="display: flex;
justify-content: center;
align-items: center;
height: 98vh;
background-color: #f0f0f0;
background-image: url(assets/images/back_banner_primary.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;" class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <div style="width: -webkit-fill-available;" class="flex flex-wrap shadow-2">
      <div class="w-full lg:w-6 px-0 py-4 lg:p-7 bg-blue-50">
          <img src="assets/images/blocks/logos/bastion-700.svg" alt="Image" height="35" class="mb-6">
          <!-- <p-carousel [value]="features" indicatorStyleClass="hover:bg-primary-500" [showNavigators]="false">
              <ng-template let-feature pTemplate="item">
                  <div class="text-center mb-8">
                      <img src="assets/images/blocks/illustration/{{feature.image}}" alt="Image" class="mb-6 w-6">
                      <div class="mx-auto font-medium text-xl mb-4 text-blue-900">{{feature.title}}</div>
                      <p class="m-0 text-blue-700 line-height-3">{{feature.text}}</p>
                  </div>
              </ng-template>
          </p-carousel> -->
      </div>
      <div class="w-full lg:w-6 p-4 lg:p-7 surface-card">
          <div class="flex align-items-center justify-content-between mb-7">
              <span style="    font-family: 'Exo 2', sans-serif;
              font-size: 30px !important;
              color: #165C7D !important;
              font-weight: 700 !important;" class="text-2xl font-medium text-900">Login</span>
              <!-- <a tabindex="0" class="font-medium text-blue-500 hover:text-blue-700 cursor-pointer transition-colors transition-duration-150">Sign up</a> -->
          </div>
          <!-- <div class="flex justify-content-between">
              <button pRipple class="mr-2 w-6 font-medium border-1 surface-border surface-100 py-3 px-2 p-component hover:surface-200 active:surface-300 text-900 cursor-pointer transition-colors transition-duration-150 inline-flex align-items-center justify-content-center">
                  <i class="pi pi-facebook text-indigo-500 mr-2"></i>
                  <span>Sign in With Facebook</span>
              </button>
              <button pRipple class="ml-2 w-6 font-medium border-1 surface-border surface-100 py-3 px-2 p-component hover:surface-200 active:surface-300 text-900 cursor-pointer transition-colors transition-duration-150 inline-flex align-items-center justify-content-center">
                  <i class="pi pi-google text-red-500 mr-2"></i>
                  <span>Sign in With Google</span>
              </button>
          </div> -->
          <!-- <p-divider align="center" styleClass="my-4">
              <span class="text-600 font-normal text-sm">OR</span>
          </p-divider> -->

          <label style="    font-family: 'Exo 2', sans-serif;
          font-size: 18px !important;
          color: #165C7D !important;
          font-weight: 700 !important;" for="email4" class="block text-900 font-medium mb-2">E-mail</label>
          <input id="email4" type="text" placeholder="Endereço de e-mail" pInputText class="w-full mb-3 p-3">

          <label style="    font-family: 'Exo 2', sans-serif;
          font-size: 18px !important;
          color: #165C7D !important;
          font-weight: 700 !important;" for="password4" class="block text-900 font-medium mb-2">Senha</label>
          <input id="password4" type="password" placeholder="Senha" pInputText class="w-full mb-3 p-3">

          <div class="flex align-items-center justify-content-between mb-6">
              <div class="flex align-items-center">
                  <p-checkbox id="rememberme4" [binary]="true" styleClass="mr-2"></p-checkbox>
                  <label style="    font-family: 'Exo 2', sans-serif;
                  font-size: 16px !important;
                  color: #165C7D !important;
                  font-weight: 700 !important;" for="rememberme4">Lembrar de mim</label>
              </div>
              <a style="    font-family: 'Exo 2', sans-serif;
              font-size: 16px !important;
              color: #FFA300 !important;
              font-weight: 700 !important;" class="font-medium text-blue-500 hover:text-blue-700 cursor-pointer transition-colors transition-duration-150">Esqueceu a senha?</a>
          </div>

          <button style="    font-family: 'Exo 2', sans-serif;
          font-size: 20px !important;
          font-weight: 700 !important;
          background-color: #165C7D;
    border-radius: 150px;
    box-shadow: 0px 2px 10px gray;" pButton pRipple label="Entrar" class="w-full py-3 font-medium">
    <img style="    margin-left: 326px;
    position: absolute;
    width: 35px;
    margin-top: 5px;" src="assets/images/icon-seta.svg" alt="Imagem ícone seta"></button>
      </div>
  </div>
</div>
